body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serf;
    display: flex;
    flex-direction: column;
}

/*header section*/
.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #78BBBB;
}

.left-side,.right-side {
    display: flex;
    height: 80px;
}

.left-side {
    display: flex;
    /*So that the logo and website title doesn't move when page size changes */
    flex-shrink: 0;
    margin-left: 20px;
    font-family: Roboto, sans-serf;
    color: #F6EDD8;
    gap: 16px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 10px 0 0;
    gap: 20px;
}

button {
    background-color: #F4AD36;
    font-family: Roboto, sans-serf;
    font-size: 16px;
}

/*introduction section*/
.introduction {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 100px;
    height: 600px;
    background-color: #F6EDD8;
}

.intro-text {
    background-color: RGBA(120,187,187,0.53);
    padding: 10px;
    border-radius: 25px;
    font-family: Roboto, sans-serf;
    font-size: 20px;
}

/*portfolio section*/

.portfolio-title {
    background-color: RGBA(244,173,54,0.37);
    padding-top: 40px;
}

.portfolio {
    display: flex;
    justify-content: space-evenly;
    background-color: RGBA(244,173,54,0.37);
    padding: 20px 10px 60px 10px;
}

.project-1,.project-2,.project-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    border: 12px solid #78BBBB;
    background-color: #F6EDD8;
    padding: 10px;
    border-radius: 30px;
    
}

form {
    display: flex;
    justify-content: center;
}

p {
    padding-left: 5px;
}

/*journey sectopm*/

.journey {
    display: flex;
    flex-direction: column;
    padding: 100px;
    border:40px solid #78BBBB;
    background-color: #F6EDD8;
}
/*text fomatting*/

a {
    text-decoration: none;
    font-size: 20px;
    color: #F6EDD8;

}


h2 {
    text-align: center;
    font-size: 50px;
    font-family: Roboto, sans-serf;
}

h3 {
    text-align: center;
}

/*footer*/
.footer{
    display: flex;
    flex-direction: column;
    background-color:#78BBBB;
    color: #F6EDD8;
    border: 10px dotted #F6EDD8;
    font-size: 20px;
    padding: 10px 0 0 0;
    text-align: center;
}


